
body {
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  font-family: "Poppins", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.card {
  border-radius: 20px;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
  max-width: 600px !important; /* 400px yerine 600px */
  width: 90%; /* Mobilde de uyumlu olsun */
}


.card:hover {
  transform: translateY(-5px);
}

.btn {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.btn:hover{
  color: #fff;
}
.btn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn:active {
  color: #000;
}

.btn:active:after {
  background: transparent;
}

.btn:hover:before {
  opacity: 1;
}

.btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}

 #daktext {
      overflow: hidden;
      border-right: 3px solid;
      white-space: nowrap;
      display: inline-block;
      margin: 0 auto;
      animation: 
        typing 2s steps(40, end),
        blink-caret 0.75s step-end infinite;
    }
    





    @keyframes typing {
      from { width: 0; }
      to { width: 100%; }
    }
    
    @keyframes blink-caret {
      from, to { border-color: transparent; }
      50% { border-color: currentColor; }
    }

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
